@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body 
{
    box-sizing: border-box;
    background-image: url('../img/coffee-beans-g9f90cd3d3_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', 'cursive', 'Verdana', 'Sans serif';
}

.container 
{
    background-color: rgb(70, 46, 1);
    margin-top: 4em;
}
h1 
{
    font-size: 5em;
}

.navigation 
{
    margin-top: 3em;
    margin-left: 0em;
    margin-bottom: 1em;
}
.move 
{
    margin-left: 20em;
}


@media (min-width: 320px) and (max-width: 768px)
{
    h1 
    {
        font-size : 2em;
    
    }
    .logo 
    {
        width: 50px;
        height: 50px;
    }
    .navigation
    {
        margin-top: -0.5em;
        margin-left: -0.5em;
    }
    .move
    {
        margin-left: 0.5em;
    }
}